@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
body{
    font-family: 'Outfit', sans-serif;
    background-color:  #d4e0ee;
    overflow: hidden;
}
.container{
display: flex;
justify-content: center;
height: 100vh;
align-items: center;
}
#card{
    background-color: hsl(0, 0%, 100%);
    width: 280px;
    height: 450px;
    border-radius: 15px;
    color:hsl(218, 44%, 22%) ;
    text-align: center;
    padding: 15px 10px;
    align-items: center;
}
#card img{
height: 270px;
border-radius: 15px;
}
#card h5{
    color:hsl(220, 15%, 55%) ;
padding: 0px 20px;
}